energinet/
prediction/dataset/
*.h5
*.pkl
*.npy
*.zip
*.tar.gz
*.csv
__pycache__/
.DS_Store
clustering/data_process_and_select/
prediction/dataset/
prediction/metrics/
prediction/notebooks/model_checkpoint/